/* 1344 px and less */
@media (max-width: 84em) {
	.header-background {
		/* min-height: 100%;
		min-width: 84rem; */
		background-position: 82% 28%;
	}
	.headings {
		max-width: 120rem;
	}
	.main-heading {
		font-size: 6.4rem;
		padding-top: 2rem;
	}
	.heading-two {
		margin-top: -1.5rem;
	}

	.main-nav-link:link,
	.main-nav-link:visited {
		font-size: 2rem;
	}
	.logo {
		font-size: 2.5rem;
	}

	.bg-two {
		font-size: 4rem;
		margin-bottom: 3rem;
	}
}

/* Below 1200 px (landscape tablets) */

@media (max-width: 75em) {
	html {
		font-size: 70%;
	}
	.grid {
		column-gap: 4.8rem;
		row-gap: 6.4rem;
	}
	.header {
		padding: 0 3.2rem;
	}
	.headings {
		gap: 3.2rem;
	}
	.main-nav-list {
		gap: 3.2rem;
	}
}
/* below 1024px (tablets) */
@media (max-width: 64em) {
	.headings {
		gap: 1rem;
	}
	.days,
	.hours,
	.minutes,
	.seconds {
		font-size: 2rem;
		padding: 3rem;
		padding-top: 0;
		padding-bottom: 0.5rem;
		margin: -1rem;
	}
	.countdown {
		height: 2rem;
		padding: 3rem;
		padding-top: 1.1rem;
	}
	.container-events {
		grid-template-columns: 1fr 1fr;
	}
}

/* below 944px (tablets) */
@media (max-width: 59em) {
	html {
		font-size: 60%;
	}
	.headings {
		grid-template-columns: 1fr;
		padding: 0 8rem;
		gap: 6.4rem;
	}
	/* MOBILE NAV */
	.btn-mobile-nav {
		display: block;
	}
	.main-nav {
		position: absolute;
		background-color: rgba(255, 255, 255, 0.975);
		color: red;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		transform: translateX(100%);

		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.5s ease-in;

		/* hide the navigation //////////////////*/
		/* display: none;    --> transition doesn't work with this
		so we have to do something else which is opacity and 2 more things below
		*/
		/* 1 step--> hide element visually */
		opacity: 0;

		/* 2) Make it accessible to mouse n keyboard */
		pointer-events: none;

		/* 3)HIde it from screen readers */
		visibility: hidden;
	}
	.nav-open .main-nav {
		opacity: 1;
		pointer-events: auto;
		visibility: visible;
		transform: translateX(0);
	}
	.main-nav-link.nav-cta {
		background-color: white !important;
		border: 1px solid;
	}
	.nav-open .icon-mobile-nav[name='close-outline'] {
		display: block;
	}
	.nav-open .icon-mobile-nav[name='menu-outline'] {
		display: none;
	}

	.main-nav-list {
		flex-direction: column;
		gap: 4.8rem;
	}
	.main-nav-link {
		color: rgba(169, 101, 114) !important;
	}
	.main-nav-link:link,
	.main-nav-link:visited {
		font-size: 3rem;
		font-weight: 700;
	}
	.step-img-box {
		/* transform: translateY(5rem); */
		margin: 3rem;
	}
	.step-img-box:nth-child(2) {
		grid-row: 1;
	}
	.step-img-box:nth-child(4) {
		grid-row: 3;
	}
	.description {
		font-size: 2.5rem;
	}
	#strong {
		font-size: 4rem;
	}
	.bg-two {
		font-size: 6rem;
	}
	.headings {
		gap: 2rem;
	}
	.main-heading {
		font-size: 6rem;
	}
	.heading-two {
		font-size: 4rem;
	}
	.logo {
		font-size: 3rem;
	}
	.days,
	.hours,
	.minutes,
	.seconds {
		font-size: 3rem;
		padding: 1rem;
	}
}

/* tablets 912px*/
@media (max-width: 57em) {
	.countdown {
		font-size: 2rem;
	}
	.days,
	.hours,
	.minutes,
	.seconds {
		font-size: 4rem;
		padding: 3rem;
	}
	.heading-two {
		font-size: 3rem;
	}
	.main-heading {
		font-size: 5rem;
	}
}
/* 🇨Below 544px for mobile */
@media (max-width: 34em) {
	.grid {
		grid-row-gap: 4.8rem;
	}
	.grid--2-cols {
		grid-template-columns: 1fr;
	}
	.headings {
		padding: 0 3.2rem;
	}
	.step-img-box {
		transform: translateY(2.4rem);
	}
	.step-img-box:nth-child(2) {
		grid-row: 1;
	}
	.step-img-box:nth-child(4) {
		grid-row: 3;
	}
	.countdown {
		display: flex;
		justify-content: space-around;
		text-align: center;
		padding: 0.5rem;
		color: white;
		background-color: rgba(128, 0, 0, 0.633);
		border-radius: 1rem;
		font-size: 1rem;
	}
	.days,
	.hours,
	.minutes,
	.seconds {
		font-size: 3rem;
		padding: 1rem;
	}
	.heading-two {
		font-size: 3rem;
	}
	.headings {
		gap: 2rem;
	}
	.bg-two {
		font-size: 4rem;
	}
	.description {
		font-size: 2rem;
	}
}

/* Below 485px (iphone X) */
@media (max-width: 30.56em) {
	html {
		font-size: 55%;
	}
	.days,
	.hours,
	.minutes,
	.seconds {
		font-size: 2rem;
		padding: 1.5rem;
	}
	.bg-two {
		font-size: 5rem;
	}
	.step-img-box {
		transform: translateY(3rem);
		/* width: 45rem; */
	}
	.step-img {
		width: 45%;
		border-radius: 2rem;
	}
}
/* 475px */
@media (max-width: 29.68em) {
	.header-background {
		background-position: 65% 45%;
	}
}
@media (max-width: 25.75em) {
	.header-background {
		background-position: 15% 85%;
	}
}
/* 455px */
@media (max-width: 28.43em) {
	html {
		font-size: 50%;
	}
}
/* 421px */
@media (max-width: 26.43em) {
	html {
		font-size: 45%;
	}
	.header-background {
		background-position: 45% 55%;
	}
}
/* 412px */
@media (max-width: 25.75em) {
	.header-background {
		background-position: 25% 75%;
	}
}
/* 414px */
@media (max-width: 25.875em) {
	.header-background {
		/* background-position: 5% 95%; */
		background-size: cover;
	}
}
/* 375px */
@media (max-width: 23.4375em) {
	.header-background {
		width: 100%;
		height: 100vh;
		background-size: cover;
		/* background-position: 85% 15%; */
	}
	.bg-two {
		/* font-size: 5rem; */
		margin-bottom: 0;
	}
	/* .countdown {
		height: 1rem;
		padding: 13rem;
		padding-top: 1.1rem;
	} */
	/* .bride-groom {
		padding: 2rem;
		height: 100vh;
		margin-bottom: 5rem;
		height: 100vh;
	} */
	/* .bride-and-groom-container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		font-size: 2rem;
		line-height: 1.2;
		margin-bottom: 5.3rem;
		margin-top: 3rem;
	} 
	 .step-img-box::before,
.step-img-box::after {
	content: '';
	display: block;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
} */
	.container-events {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}
}

/* 280px */
@media (max-width: 17.5em) {
	html {
		font-size: 40%;
	}
	.countdown {
		padding: 0 1rem 0 1rem;
		margin-top: -1rem;
	}
	.days,
	.hours,
	.minutes,
	.seconds {
		font-size: 2rem;
		padding: 0 2rem 0 2rem;
	}
	.header-background {
		background-position: 20% 80%;
	}
}
