@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Fira+Sans:wght@400;700&family=Inter:wght@400;500;700&family=Lato:wght@400;700&family=Oswald:wght@700&family=Roboto:wght@300;400;700&family=Rubik:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Fira+Sans:wght@400;700&family=Inter:wght@400;500;700&family=Lato:wght@400;700&family=Oswald:wght@700&family=Roboto:wght@300;400;700&family=Rubik:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: rgba(89, 10, 24);

	/* coz we wanted to make it sticky thats why height is given */
	height: 5rem;
	padding: 0 48px;
	/* position: relative; */
	/* position: fixed; */
	color: white;
	font-family: 'Dancing Script', sans-serif;
	/* z-index: -10; */
}
.header-background {
	background-image: url(./images/propose.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 80% 30%;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;

	position: relative;
}
.bng {
	font-size: 3rem;
	color: rgb(169, 101, 113);
	font-family: 'Dancing Script', sans-serif;
}
.description {
	text-align: right;
}
.faysal {
	text-align: left;
}
.fontasm {
	height: 2rem;
	width: 2rem;
}
.header .logo {
	padding-top: 1rem;
	height: 5rem;
	font-size: 3rem;
	font-weight: 700;
	text-decoration: none;
	color: white;
}
.main-nav-list {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 4.2rem;
	color: #fff;
}

.main-nav-link:link,
.main.nav-link:visited {
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	font-size: 2rem;
	/* transition: all 0.3s;
	display: inline-block; */
}
.main-nav-link:hover,
.main.nav-link:active {
	color: #fff;
	/* background-color: rgba(244, 206, 214, 0.606); */
	/* padding: 1rem; */
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
	padding: 1.2rem 2.44rem;
	border-radius: 9px;
	color: #fff;
	background-color: rgb(169, 101, 113);
	transition: all 0.3s;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
	background-color: #fae5d3;
	color: rgb(169, 101, 113);
}

/* MOBILE */

/* *************************************/
/* General components */
.btn-mobile-nav {
	border: none;
	background: none;
	cursor: pointer;
	/* by default display non until reach to particular rems*/
	display: none;
}
.icon-mobile-nav {
	height: 4.8rem;
	width: 4.8rem;
	color: #333;
}
.icon-mobile-nav[name='close-outline'] {
	display: none;
}
/* ///headings */
.headings {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	z-index: 99;
}
.main-heading {
	text-align: center;
	font-size: 12rem;
	font-weight: bold;
	/* padding: 5rem 5rem 1rem 5rem; */
	color: #fff;
	font-family: 'Dancing Script', sans-serif;
}
.heading-two {
	font-size: 3rem;
	color: rgba(89, 10, 24);
	background-color: white;
	margin-top: -1rem;
	text-align: center;
	border-radius: 1rem;
	padding: 1rem;
	font-family: 'Dancing Script', sans-serif;
}

.bg-two {
	font-size: 4rem;
	color: rgba(89, 10, 24);
	background-color: white;
	text-align: center;
	border-radius: 1rem;
	font-family: 'Dancing Script', sans-serif;
	padding: 3rem;
}
/* ///////////////////////// */

/* TIMER */
.coming-soon {
	min-height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.countdown {
	display: flex;
	justify-content: space-around;
	text-align: center;
	padding: 1rem;
	color: white;
	background-color: rgba(89, 10, 24, 0.804);
	border-radius: 1rem;
}
.days,
.hours,
.minutes,
.seconds {
	font-size: 3rem;
	padding: 0 3rem 3rem 3rem;
}

.two {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.img {
	width: 100%;
	background-size: cover;
	background-position: center;
}
#strong {
	font-style: italic;
	font-size: 3rem;
	font-weight: bold;
	color: rgba(89, 10, 24);
	font-family: 'Dancing Script', sans-serif;
}

/* ///////////TIMER ENDS */

/* .///////////////SECTIONS ///////////*/
.bride-groom {
	padding: 5rem;
	height: 100vh;
	margin-bottom: 5rem;
	height: 100vh;
}
.bride-and-groom-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: 2rem;
	line-height: 1.6;
	margin-bottom: 5.3rem;
	margin-top: 7rem;
}
.step-img-box {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.step-img-box::before,
.step-img-box::after {
	content: '';
	display: block;
	/* height: 60; */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}
.step-img-box::before {
	background-color: rgba(89, 10, 24);
	padding-bottom: 60%;
	width: 50%;
	z-index: -1;
}
.step-img-box::after {
	width: 40%;
	padding-bottom: 50%;
	background-color: rgba(179, 90, 106, 0.612);
	z-index: -1;
}
.step-img {
	width: 30%;
	border-radius: 2rem;
}
.step-description {
	font-size: 2rem;
	line-height: 2.5rem;
}
.container {
	max-width: 150rem;
	margin: 0 auto;
	padding: 0 3.2rem;
	border-radius: 5px;
}
.grid {
	display: grid;
	row-gap: 7.6rem;
	column-gap: 6.4rem;
}
.grid--2-cols {
	grid-template-columns: repeat(2, 1fr);
}
/* parallax 2 */
.parallax2 {
	background: url(./images/diay.jpg);
	/* min-height: 40%; */

	background-repeat: no-repeat;
	background-size: cover;
	/* background-position: 80% 30%; */
	background-attachment: fixed;
	width: 100%;
	height: 100vh;

	position: relative;
}
.parallax3 {
	background: url(./images/didit.jpg);
	min-height: 40%;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 70% 40%;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;

	position: relative;
}
/* events section */
.events {
	height: 100vh;

	/* margin-bottom: 10rem; */
	padding: 5rem;
	display: flex;
	flex-direction: column;

	background-image: url(./images/e.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.event-name {
	font-size: 2.4rem;
	color: rgba(89, 10, 24);
	text-align: center;
	font-weight: 600;
	padding: 1rem;
}
.event-date {
	font-size: 2rem;
	text-align: center;
	padding-bottom: 0.5rem;
}
.event-time {
	font-size: 1.5rem;
	text-align: center;
	padding-bottom: 1rem;
}
iframe {
	width: 100%;
	height: 40%;
}
address {
	font-size: 1rem;
}
.card-img {
	margin-top: -25px;
	width: 100%;
	height: 40%;
}
.tel {
	padding-bottom: 1rem;
}
.card {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 2rem;
	width: 25rem;
	height: 55rem;
	box-shadow: 0 2.4rem 4.8rem 4.8rem rgba(0, 0, 0, 0.075);
	border: 1px solid rgba(89, 10, 24);
	border-radius: 1rem;
	transition: all 0.4s;
	overflow: hidden;
}
.card:hover {
	box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.06);
	transform: translateY(-1.2rem);
}
.events-head {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.heading-events {
	font-family: 'Dancing Script', sans-serif;
	font-size: 6rem;
	color: rgb(111, 59, 69);
}
.planning-heading {
	font-size: 2rem;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	color: rgb(101, 85, 89);
	border: 1px dotted rgba(89, 10, 24);
	width: 15rem;
	text-align: center;
	padding: 0.5rem;
	margin: 2rem;
}
.dis {
	padding: 0 3.2rem;
}
.container-events {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	/* row-gap: 4rem; */
	column-gap: 1rem;

	/* max-width: 240rem; */
	/* margin: 0 auto; */
	padding: 4rem 10rem 4rem 10rem;

	border-radius: 5px;
}

/* RSVP section///////////////////////// */
/* .rsvp {
	overflow: hidden;
} */
.container-rsvp {
	display: grid;
	grid-template-columns: 1fr 2fr;

	/* border-top: 0.5px solid rgb(68, 42, 42); */
}
.bg {
	background-image: url(./images/will.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 70% 30%;

	height: 100vh;
}
.rsvp-heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* commented justify-content so that heading will be on top not in the mid of the page */
	justify-content: center;
	gap: 4rem;
	padding-top: 2rem;
	font-size: 1.5rem;

	background-color: rgba(247, 250, 225, 0.619);
}
.head {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.heading-rsvp {
	font-family: 'Dancing Script', sans-serif;
	font-size: 6rem;
	color: rgb(111, 59, 69);
}
.rsvp--planning-heading {
	font-size: 2rem;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	color: rgb(101, 85, 89);
	border: 1px dotted rgba(89, 10, 24);
	width: 15rem;
	text-align: center;
	padding: 0.5rem;
	margin: 4rem 2rem 2rem 2rem;
}
.form-control {
	font-family: 'Muli', sans-serif;
}
.btn {
	cursor: pointer;
	display: inline-block;
	width: 100%;
	background-color: rgb(111, 59, 69);
	padding: 10px;
	font-family: inherit;
	font-size: 16px;
	border: 0;
	border-radius: 5px;
	color: #fff;
}
.btn:focus {
	outline: 0;
}
/* form making button a little less in size when clicked */
.btn:active {
	transform: scale(0.98);
}
.form-control {
	position: relative;
	margin: 20px 0 40px;
	width: 300px;
}
.form-control input {
	background-color: transparent;
	/* for zero outline border */
	border: 0;
	/* for white line */
	border-bottom: 2px #fff solid;
	display: block;
	/* width all the way across */
	width: 100%;
	padding: 15px 0;
	font-size: 18px;
	/* input color-white */
	color: rgba(101, 85, 89);
	border-bottom-color: rgba(101, 85, 89);
}
/* to get rid of the border whn typing in the input */
.form-control input:focus,
.form-control input:valid {
	outline: 0;
	/* change border-bottom to light blue when clicked */
	border-bottom-color: rgba(101, 85, 89);
}
.form-control label {
	position: absolute;
	/* for labels to be on top of line of input */
	top: 15px;
	left: 0;
}
.form-control label span {
	display: inline-block;
	font-size: 18px;
	min-width: 5px;
	/* for cool bounce effect when clicked on label to type */
	transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-control input:focus + label span,
.form-control input:valid + label span {
	/* when u click on label, it turns to light blue */
	color: rgba(101, 85, 89);
	/* to move a little bit up when clicked to type */
	transform: translateY(-30px);
	background-color: rgba(247, 250, 225, 0.619);
}
.radio {
	margin-bottom: 2.5rem;
	/* padding: 3rem; */
}
input[type='radio'] {
	margin: 0 10px 0 10px;
}
input[type='number'] {
	padding: 0.5rem;
	background-color: rgba(247, 250, 225, 0.619);
	/* border: rgb(111, 59, 69); */
	margin-top: 2rem;
	margin-bottom: 4rem;

	border: 0;
	outline: 0;
	font-size: 18px;
	border-bottom: 2px solid rgba(101, 85, 89);

	width: auto;
	display: inline-block;
	height: auto;
}
.label {
	font-size: 18px;
}

.parallax4 {
	background: url(./images/fireworks.jpg);
	/* min-height: 40%; */

	background-repeat: no-repeat;
	background-size: cover;
	/* background-position: 80% 30%; */
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
	background-position: 60% 40%;
	position: relative;
}
/*  */
@media (max-width: 25rem) {
	.heading-two {
		font-size: 2rem;
	}
	.coming-soon {
		width: auto;
	}
}
.link:link,
.link:visited {
	display: inline-block;
	color: rgba(89, 10, 24);
	text-decoration: none;
	border-bottom: 1px solid currentColor;
	padding-bottom: 2px;
	transition: all 3sec;
}
.link:hover,
.link:active {
	color: rgba(89, 10, 24);
	/* 1px solid transparent wont jump it 
	/* border-bottom: 1px solid transparent; */
}
